/* styles the cards */

.RowTwo{
  text-align: center;
  display: flexbox;
}

.Allocation {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  /* grid-template-rows: 1fr 1fr; */
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background-color: #1E344D;
  
}

.Holdings {
  width: 320px;
  height: 360px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  /* grid-template-rows: 1fr 1fr; */
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  background-color: #1E344D;
  margin-bottom: 20px;
}

.Holdings img {
  width: 320px;
  height: 360px; 
}



.Allocation img {
  width: 600px;
  height: 400px;
}

.Allocation:hover  {
  transform: scale(1.05, 1.05);
}

.Holdings:hover  {
  transform: scale(1.05, 1.05);
}

/*
.CryptoCards {
  display: flex;
  -webkit-flex-direction: column; 
  flex-direction: column; 
  width: 100%;
  display:inline-block;

}
*/

.Coinbase {
  text-align: center;
  
}
.Coinbase-header {
    margin-right: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 20px;
    position: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.25);
    display: inline-block;
    /* grid-template-rows: 1fr 1fr; */
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background-color: #1E344D;
      color: white;

}

.Coinbase-header:hover  {
  transform: scale(1.05, 1.05);
}

.Portfolio-button {
  background-color: white;
  color: #1B4B82;
}

.btn:hover {
  color:white;
}

.Coinbase-link {
 color: #61dafb;
}

@keyframes App-logo-spin {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(360deg);
 }
}

@media (max-width: 555px) {

  .Allocation img {
    width: 300px;
    height: 200px;
  }



  .Allocation {
    width: 300px;
    height: 200px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* grid-template-rows: 1fr 1fr; */
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background-color: #1E344D;
    margin-left: 37px;
  }
  
  .Holdings {
    width: 320px;
    height: 360px;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    /* grid-template-rows: 1fr 1fr; */
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background-color: #1E344D;
    margin-bottom: 20px;
    margin-left: 27px;

  }
}


/* 
#1B4B82

#1552F0

*/