.cryptocurrency {
    padding: 1rem 2rem 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    min-width: 9rem;
    max-width: 20rem;
    border: solid 1px rgba(0,0,0,0.5);
}

.cryptocurrency p {
    text-align: center;
}

.cryptocurrency h1 {
    font-size:3vw;
}

.cryptocurrency-name {
    font-size: 1.25rem;
}

.bitcoin{
    background-color: #fbe2c3;
    border-bottom: solid 4px #f7931a;
    
}

.ethereum{
    background-color: #c2c9ff;
    border-bottom: solid 4px #454a75;
}

.litecoin{
    background-color: #ececec;
    border-bottom: solid 4px #bebebe;
   
}
