.Container{
    
    padding: 0 123px;
   
   

}


.logo {
    color: black;
    
    
}



.Navbar {
    background-color: white;
    box-shadow: 0 0px 0px rgba(0,0,0, 0.25);

}


@media (max-width: 555px) {
 
    .logo {
       display: none;
    }

}


@media (max-width: 993px) {
 
    .logo {
        margin-left: 0%;
    }

    .logo  {
       display: none;
    }

    

   
}
