
.nav-wrapper {
    background-color: #1E344D;

}

@media (max-width: 555px) {
 
    .container{
        height:200px;
    }
    
    
    .nav-wrapper {
        height:140px;
    }
    
    
    .logo, .links {
      position: flex;
      flex-wrap:wrap;
      
    }
    .logo {
        position: left;
        height:70px;
        margin-top:10px;
    }
    
    .links {
        height:70px;
    }
    
}
