
  div#crypto-container {
    background:white;
    width: 70%;
    margin: 30px auto 4px auto;
    padding: 1em;
  }

  span.left {
    font-weight: bold;
    position: center;
  }

  span.right {
    float:right;
  }

  .Crypto {
    text-align: center;
  }
  .up {
    color: green;

  }

  .down {
    color: red;
  }

  .unchanged {
   color: orange;
  }

  .exchange {
    color: #42f492;
  }

  .react-bs-table-container {
    display: flex;

    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.25);

  }

  @media screen and (max-width: 600px) {

    div#crypto-container {
      background:red;
      width: 500%;
    }

      #site-header {
          display: none;
      }
  }
