.up {
  color: #42f492;
}

.down {
  color: red;
}

.unchanged {
 color: orange;
}

.exchange {
  color: #42f492;
}

.react-bs-table-container {
  display: flex;

  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0, 0.25);
  display: inline-block;
}
