.main{
}

.main-table {
    text-align: center;
    color: red;
}
.table {
    width: auto;
    margin: 50px auto;
    float: none;
    max-height: 90vh !important;
}


.market-header {
    text-align: center;
}


#coin-image {
    max-height: 40px;
    max-width: 35px;
} 