.Card {
    margin-left: 125px;
}

/* styles the cards */
.Card div {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.25);
    display: inline-block;
    /* grid-template-rows: 1fr 1fr; */
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background-image: linear-gradient(to top, #1316c1, #0040d0, #005dda, #1b77e0, #4a90e2);
}

.Card div:hover  {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.Card p {
    font-size: 13px;
    text-align: center;
    color: white;
}
/* styles images */
.Card img {
   position: center;
    width: 200%;
    object-fit: contain;
    width: 100%;
    height: 150px;
    object-fit: cover;
    align-self: flex-start;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

/* style the heading of the news */
.Card h3{
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 10px 10px 10px;
    text-align: center;
}

.Card b {
    text-align: right;
}

.Card a{
    text-align: center;
    color: #00FCCF;
    font-weight: bold;
    
}

.Bottom{
    flex-direction: column;
    text-align: center;
}



@media (max-width: 555px) {
 
    .Card {
        align-content: center;
        margin-left: 0px;
    
    }
}